<div class="form-group">
  <input
    [class.is-invalid]="
      ngControl.control.touched && ngControl.control.status == 'INVALID'
    "
    [formControl]="ngControl.control"
    type="{{ type }}"
    class="form-control"
    placeholder="{{ label }}"
  />
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    This Field is required
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{ label }} must be at least
    {{ ngControl.control.errors?.minlength["requiredLength"] }} Characters
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{ label }} must be at most
    {{ ngControl.control.errors?.maxlength["requiredLength"] }} Characters
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Password does not match
  </div>
</div>
