<div *ngIf="!isRegisterMode" class="container" style="text-align: center">
  <h1>Find Your Matches</h1>
  <p>
    Come on to it to view all your matches... all you you need to do is
    resgister here
  </p>
  <div style="text-align: center">
    <button
      class="btn btn-success"
      style="margin-right: 10px"
      (click)="onRegister()"
    >
      Register
    </button>
    <button class="btn btn-success">Learn More</button>
  </div>
</div>

<div *ngIf="isRegisterMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register></app-register>
    </div>
  </div>
</div>
