<div class="container mt-3">
  <form [formGroup]="filtersForm" class="form-inline mb-3">
    <div class="form-group">
      <label>Age From: </label>
      <input type="number" class="form-control ml-1" formControlName="AgeFrom">
    </div>
    <div class="form-group px-2">
      <label>Age To: </label>
      <input type="number" class="form-control ml-1" formControlName="AgeTo">
    </div>
    <div class="form-group px-2">
      <label>Show: </label>
      <select class="form-control ml-1" formControlName="Gender">
        <option  *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.display}}
        </option>
      </select>
    </div>

    <button (click)="applyFilter()" class="btn btn-primary ml-1">Apply Filters</button>
    <button (click)="resetFilter()" class="btn btn-primary ml-1">Reset Filters Filters</button>
  </form>
  <h4>Sort By: </h4>
  <div class="btn-group">
    <label (click)="loadMembers()" class="btn btn-primary" [(ngModel)]="userParams.orderBy"
           btnRadio="lastActive" tabindex="0" role="button">Last Active</label>
    <label (click)="loadMembers()" class="btn btn-primary" [(ngModel)]="userParams.orderBy"
           btnRadio="created" tabindex="0" role="button">Newest member</label>
  </div>

</div>
<div class="row">
  <div class="col-2" *ngFor="let name of memberList">
    <app-member-card [member]="name"></app-member-card>
  </div>
</div>


<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="paginationInfo?.totalItems"
    [itemsPerPage]="paginationInfo?.itemsPerPage"
    (pageChanged)="onPageChange($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>



